nav{
    text-align: center;
}
.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.section1,
.section2,
.section3,
.section4,
.section5{
    width: 100%;
    height: 50px;
}

.section1{
    background: red;
}

.section2{
    background: greenyellow;
}

.section3{
    background: blue;
}

.section4{
    background: yellow;
}

.section5{
    background: cyan;
}

@media (min-width: 600px){
    .section1,
    .section2,
    .section3,
    .section4,
    .section5{
        width: 50%;
    }
}

@media (min-width: 800px){
    .section1{width: 60%;}
    .section2{width: 40%;}
    .section3,
    .section4,
    .section5{width: 33.33%;}
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*diferenciar algunos hijos (3) con la pseudo clase nth-child*/